/** General Styles ********************/

* {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background: #fafafa;
}

p {
  color: #4a4a4a;
  padding-bottom: 1rem;
}

a {
  color: #444;
}

.main-nav a, h2 {
  color: #444;
  font-weight: 800;
  font-size: .92rem;
  text-transform: uppercase;
}

h1 {
  font-size: 1.8rem;
  margin: 0 0 1rem;
  padding: 0;
}

h2 {
  padding: 2.675rem;
  margin: 0;
}

h3 {
  font-weight: normal;
}

img {
  max-width: 100%;
}

#container {
  padding: 0 1rem;
  background: #fff;
}

header, footer {
  padding: 1rem;
}

header p, #contact p {
  color: #7f7f7f;
}

.main-nav li  {
  background: #fff;
  margin-bottom: 5px;
  padding: .7rem;
}

#banner {
  padding: 1rem;
}

#banner p, footer p {
  color: #888;
}

.profile-pic {
  width: 70%;
}

#portfolio, #skills {
  background: #fff;
}

footer h2 {
  padding: 1rem;
}

.footer a {
  text-transform: initial;
}

.credits {
  display: flex;
  padding: .5rem 0 1.5rem;
  justify-content: space-between;
  font-weight: bold;
  font-size: .87em;
}

a.to-top {
    font-size: .87em;
}

.footer-links {
  display: none;
  text-transform: uppercase;
}

.to-top {
  text-transform: uppercase;
}

hr {
  margin-top: 2em;
  margin-bottom: 1em;
}

.bold {
  font-weight: 600;
  color: #888;
}


/** Media Queries ********************/

@media (min-width: 768px) {

 .main-header {
  flex-direction: column;
  align-items: center;
  }

 .main-header, .main-nav {
    display: flex;
  }

  .name {
    padding-top: 1em;
  }

  .main-nav li {
    background: #fafafa;
  }

  #banner {
    display: flex;
    flex-direction: row-reverse;
    text-align: left;
  }

  .profile-pic {
    padding: 1em;
  }

  #banner p, footer p {
    font-size: 1.2em;
  }

  #container {
    padding: 1.3rem;
  }

  .portfolio-items {
    display: flex;
    flex-wrap: wrap;
  }

  .portfolio-items li {
    width: calc(100% * (1/2) - 16px);
    margin: 0 8px;
    flex-grow: 1;
  }

  .skill-items {
    display: flex;
  }

  .skill-items li {
    width: calc(100% * (1/3) - 10px);
    margin: 0 5px;
    flex-grow: 1;
  }

  .to-top {
    display: none;
  }

  .footer-links {
    display: block;
    float: right;
  }
  .footer-links li a {
    padding-left: 10px;
  }
}

@media (min-width: 1024px) {

  .wrapper {
    max-width: 1260px;
    margin: 0 auto;
  }

  .main-header {
  flex-direction: row;
  justify-content: space-between;
  }

  #container, header, #banner, footer {
    margin: 0 30px;
  }

  .portfolio-items li {
    width: calc(100% * (1/3) - 20px);
    margin: 0 10px;
    flex-grow: 1;
  }

  .skill-items {
    display: flex;
  }

  .skill-items li {
    width: calc(100% * (1/3) - 10px);
    margin: 0 5px;
    flex-grow: 1;
  }
}